#i-web {
  display: none;
}

#header-bg {
  background-image: url(images/hero-img.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 90vh;
  display: none;
}


@media (max-width: 768px) {
  #header-links {
    display: none !important;
  }

  #header-foto {
    display: none;
  }

  #header-bg {
    display: block;

  }

  #i-web {
    display: block !important;
  }

  #header-title {
   color: #000;
  }

  #header-text {
   color: #000;
  }

  #input {
    width: 150px;
    height: 50px;
  }

  #header-btn {
    height: 50px;
  }

  #main-page-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #main-buttom {
    align-items: center;
  }

  #family {
    max-width: 727px;
    max-height: 300px;

  }

  #comment {
    flex-direction: column;
  }


}